@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Light.woff");
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #82899B;
    background-color: #FFFFFF;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #1F2431;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    color: #1F2431
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 35px;
}

li a {
    font-size: 16px;
    padding-left: 10px;
}

a {
    color: #1F2431;
}

h1,
h3,
p,
a {
    align-content: flex-start;
}

strong {
    color: #1F2431;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    width: 1140px;
}

.container {
    margin-top: 38px;
    width: 1200px;
    margin: 0 auto;
}

.top__line--img {
    display: flex;
}

.logo {
    padding: 0 10px;
}

.wallet {
    width: 1008px;
    display: flex;
    align-items: center;
    margin-top: 59px;
}

.wallet__half {
    width: 50%;
}

.wallet img {
    width: 100%;
}

.wallet h3 {
    margin-top: 92px;
}

.wallet p {
    margin-top: 22px;
    padding: 12px 142px 0 0;
}

.wallet a {
    margin-top: 25px;
}

.block__1 {
    background: #FAFCFF;
    margin: 10px 5px;
    border-radius: 6px;
    padding: 45px 40px 40px 40px;
}

.block__bend {
    width: 98%;
}

.block__1 img {
    display: flex;
    margin: 50px auto;
}

.block__bend--r {
    float: right;
}

.l {
    float: left;
}

.btn {
    background-color: #315efb;
    color: white;
    text-decoration: none;
    padding: 13px 50px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 50px;
}

.fab {
    color: #1F2431;
}

.fab:hover {
    color: #315efb;
}